<body>
    <div class="contenedor">
      <div class="logo">
          <img class="contenedor_image" src="assets/images/claaran-logo.png" alt="logo claarant">
      </div>
        <div class="login">
          <div class="bienvenidos">
            <h2>BIENVENIDOS</h2>
            <p class="font">
              Estamos para acompañarte y asegurarnos que no tengas ningún incoveniente con el uso de nuestros sistema. Queremos brindarte una experiencia excepcional desde el primer momento en que ingreses
            </p>
            <form class="formulario">
            <div class="campo">
                <input type="text" placeholder="Usuario">
            </div>
            <div class="campo">
                <input type="text" placeholder="Contraseña">
            </div>
              <div class="campo button" >
                <button type="submit"><a id="link-enviar" routerLink="/administration/creacionref">Enviar</a></button>   
              </div>    
            </form>
          </div>
         </div>
        </div>
  </body> 